body {
  background-color: #111111;
}

.aboutSection {
  padding-top: 8rem;
  display: flex;
  flex-direction: row;
  min-height: calc(100vh - 8rem);
  height: fit-content;
  color: white;
  max-width: 70vw;
  margin: auto;
}

.aboutSection img {
  border-radius: 8px;
  object-fit: contain;
  max-width: 100%;
  max-height: 100%;
}

.aboutContent {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  gap: 1rem;
  flex-shrink: 2;
}

.aboutContent h1 {
  margin: 0;
  font-family: Aachen;
  font-size: 3rem;
  text-align: left;
}

.aboutContent p {
  font-size: 1.5rem;
  line-height: 2rem;
  text-align: left;
}


.resumeSection {
  max-width: 70vw;
  margin: auto;
  padding-top: 4rem;
  color: white;
} 

.resumeLine {
  height: 4px;
  background-color: white;
  margin-bottom: 0.5rem;
  margin-left: auto;
  margin-right: auto;
}

.resumeContent {
  display: flex;
  flex-direction: row;
  gap: 2rem;
  align-items: flex-start;
  justify-content: center;
}

.resumeElement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resumeElement h2 {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  font-family: Aachen;
  font-size: 2rem;
  flex-grow: 1;
}

.resumeElementItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-bottom: 1rem;
}

.resumeItemPrimary {
  font-size: 1.5rem;
  font-weight: 700;
  white-space: pre-line;
}

.resumeItemSecondary {
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 0.25rem;
}

.resumeItemTernary {
  font-size: 1rem;
  font-weight: 300;
  margin-top: 0.25rem;
}

@media only screen and (max-width: 1023px) {
  .aboutContent {
    padding-left: 1rem;
    flex-shrink: 1.5;
    gap: 0rem;
  }
  .aboutContent h1 {
    font-size: 2rem;
  }
  .aboutContent p {
    font-size: 1rem;
    line-height: 1.5rem;
  }
  .aboutSection {
    max-width: 85vw;
  }
  .resumeSection {
    max-width: 85vw;
    padding-top: 2rem;
  }
  .resumeContent {
    gap: 1rem;
  }
  
  .resumeElement h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
  .resumeElementItem {
    margin-bottom: 0.5rem;
  }
  .resumeItemPrimary {
    font-size: 1.2rem;
  }
  .resumeItemSecondary {
    font-size: 1rem;
  }
  .resumeItemTernary {
    font-size: 0.8rem;
  }
}

@media only screen and (max-width: 760px) {
  .aboutSection {
    padding-top: 4rem;
    max-width: 90vw;
    flex-direction: column;
  }
  .aboutSection img {
    max-width: 60%;
  }
  .aboutContent {
    padding-left: 0;
    align-items: center;
    text-align: center;
  }
  .aboutContent h1 {
    font-size: 1.5rem;
  }
  .aboutContent p {
    font-size: 1rem;
    line-height: 1.2rem;
  }
  .resumeSection {
    padding-top: 2rem;
    max-width: 90vw;
  }
  .resumeContent {
    flex-direction: column;
    gap: 1rem;
    align-items: center;
  }
}