.wrapper {
  position: relative;
}

.content {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  align-items: center;
}

.horizontalScroll {
  white-space: nowrap;
  font-size: 2rem;
}

.sectionMarker {
  position: absolute;
  width: 100vw;
  opacity: 0.5;
  pointer-events: none;
}
